body {
    background-image: url("images/IMG_1169.webp");
    background-position: top center;
    color: white;
}

li {
    display: inline;
}

li a {
    font-size: 1.5em;
}

.home {
    color: "blue"
}

.logo {
    /* center horizontally */
    margin: 0 auto;
    width: 100%;

}
